<mat-card>
  <mat-card-header>
      <mat-card-title>Current Weather</mat-card-title>
      <mat-card-subtitle>
        <span>{{currentLocation}}</span>
        <br>
        <span>{{weather}}</span>
      </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="current-temp-card">
    <div>
      <img src="http://openweathermap.org/img/w/{{icon}}.png">
    </div>
    <div>
      <span class='temparature-readout'>{{temperature}} °F</span>
    </div>
    <div class="additional-information">
      <span>
        <div>Humidity: {{humidity}}</div>
        <div>Pressure: {{pressure}}</div>
      </span>
    </div>
  </mat-card-content>
</mat-card>
